.main {
  display: flex;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding: 0 20px 0 20px;
  border: 1px solid red;
  width: 100%;
}
.homeGithubImg {
  border: 3px solid gray;
  height: 50px;
  width: 50px;
  border-radius: 100px;
  margin-left: 5px;
}
.homeLogin {
  display: flex;
  width: 100%;
  padding: 50px 0 50px 0;  
  border: 1px solid green;
  justify-content: center;
  align-items: center;
}
.homeLoginBox {
  display: flex;
  margin: auto;
  padding: 30px;  
  border: 1px solid rgb(200,200,200);
  background-color: rgb(245,245,245);
  border-radius: 10px;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
